body{
    background-color: #ebebeb;
    margin: 0;
    font-family: "Arial";
}

.amarillo{
    height: 182px;
    width: auto;
    background-color: #fff159;
    position: relative;
   

    
}

.card{
    height: 160px;
    width: 250px;
    margin: 5% 37.5%;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 2%;
    position: absolute;
    box-shadow: 0 0 2px rgba(0,0,0,.20);
      
}



.hola{
    text-align: center;
    margin: 20x;
    font-size: 18px;
    color: #000;
    padding: 12px;
    line-height: 25px;    
}

button{
    background-color: #3483fa;
    color: #fff;
    font-size: 13px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    
}

button:hover{
    background-color: #326dc5;
}

.liga{
    background-color: #fff;
    color: #3785fa;
    font-size: 13px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    margin-top: 7px;
}

.liga:hover{
    background-color: #e2edfc;
}

img{
    margin: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 45px;
    padding: 18px;
    

}

p{
    text-align: center;
    font-size: 10px;
    color: rgba(0,0,0,.45);
    margin: 5px;
}

.privacidad{
    font-size: 12px;

}

a{
    text-decoration: none;
    color: rgba(0,0,0,.85);
    
}
